<template>
  <div class="sapper">
    <button class="sapper__newGame" @click="resetGame()"> New Game! </button>
    <table class="sapper__table">
      <tr class="sapper__row" v-for="(row, x) in sapperField" :key="row">
        <td class="sapper__cell"
            v-for="(cell, y) in row"
            :key="cell"
            @click.once="openCell(x, y)"
        >

          <div v-if="cell.isChecked === true" class="sapper__cellValue sapper__cellValue--open">
            <p class="sapper__cellValueCell" v-if="cell.isBomb === false">{{cell.cellValue.toString()}}</p>
            <p class="sapper__cellValueCell" v-if="cell.isBomb === true">💣</p>
            <div class="sapper__gameOver" v-show="isOver === true">
              <audio class="sapper__gameOverSound"
                     v-if="isOver === true"
                     autoplay="autoplay"
                     src="/src/audio/you-died.mp3"></audio>
              <img class="sapper__gameOverImg" src="src/images/you_died.jpeg" alt="game over">
            </div>

            <div class="sapper__gameOver" v-show="youWin === true">
              <audio class="sapper__gameOverSound"
                     v-if="youWin === true"
                     autoplay="autoplay"
                     src="/src/audio/win.mp3"></audio>
              <img class="sapper__gameOverImg" src="src/images/winner.webp" alt="you win!">
            </div>

          </div>

          <div v-if="cell.isChecked === false" class="sapper__cellValue sapper__cellValue--close">
            <p class="sapper__cellValueCell" v-if="cell.isBomb === false">{{cell.cellValue.toString()}}</p>
            <p class="sapper__cellValueCell" v-if="cell.isBomb === true">💣</p>
          </div>
        </td>
      </tr>

    </table>
  </div>
</template>

<script setup lang="ts">
import {ref} from "vue";

interface Cell {
  isBomb: boolean;
  isFlag: boolean;
  isNumber: boolean;
  isChecked: boolean;
  cellValue: number;
}

const sapperField = ref<Cell[][]>([]);
const bombCells = ref<number[][]>([]);
const isOver = ref(false);
const youWin = ref(false);

addBombs();

for (let i = 0; i < 10; i++) {
  if (!sapperField.value[i]) {
    sapperField.value[i] = [];
  }

  for(let j = 0; j < 10; j++) {
    sapperField.value[i][j] = { isNumber: true, isBomb: false, isFlag: false, isChecked: false, cellValue: 0 };
  }
}

function addBombs () {
  while ( bombCells.value.length < 10) {
    const newCell = [Math.floor(Math.random() * 10), Math.floor(Math.random() * 10)];

    if (bombCells.value.findIndex(cell => cell.toString() === newCell.toString()) === -1) {
      bombCells.value.push(newCell);
    }
  }
}

bombCells.value.forEach(function (item) {
  if (sapperField.value[item[0]] && sapperField.value[item[0]][item[1]] && typeof(sapperField.value[item[0]][item[1]]) !== "undefined" ) {
    sapperField.value[item[0]][item[1]].isBomb = true;
  }
})

console.table(sapperField.value)

function openCell (x: number, y: number) {
  sapperField.value[x][y].isChecked = true;

  if(sapperField.value[x][y].isBomb === true) {
    setTimeout(() => isOver.value = true, 500);
  }

  let win = true;

  for (let i = 0; i < 10; i++) {
    for (let j = 0; j < 10; j++) {
      if (sapperField.value[i][j].isChecked === false && sapperField.value[i][j].isBomb === false) {
        win = false;
        break;
      }
    }
    if (!win) {
      break;
    }
  }

  if (win) {
    setTimeout(() => youWin.value = true, 500);
  }

  cellValueCounter(x, y);
}

function resetGame() {
  for (let i = 0; i < 10; i++) {
    for(let j = 0; j < 10; j++) {
      sapperField.value[i][j].isChecked = false;
      sapperField.value[i][j].cellValue = 0;
    }
  }

  bombCells.value = [];
  addBombs();
}

function cellValueCounter(x: number, y: number) {
  for (let i = Math.max(x - 1, 0); i <= Math.min(x + 1, sapperField.value.length - 1); i++) {
    for (let j = Math.max(y - 1, 0); j <= Math.min(y + 1, sapperField.value[i].length - 1); j++) {
      if (sapperField.value[i][j].isBomb === true) {
        sapperField.value[x][y].cellValue += 1;
      }
    }
  }
}

</script>

<style scoped lang="scss">
.sapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__newGame {
    margin: 0 auto 30px auto;
    display: block;
    border: none;
    outline: none;
    padding: 0 40px;
    height: 50px;
    text-align: center;
    background-color: #337AB7;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    line-height: 50px;
    transition: all 0.4s;

    &:hover {
      background-color: #18578d;
    }
  }

  &__table {
    border: 3px solid  #18578d;
    border-collapse: collapse;
    position: relative;
  }

  &__row {
    border-spacing: 0;
  }

  &__cell {
    padding: 0;
    background: #e2e2e2;
    box-shadow: inset 0 2px 0 0 #fcfcfc, inset 2px 0 0 0 #fcfcfc, inset 0 -2px 0 0 #c9c9c9, inset -2px 0 0 0 #c9c9c9;
  }

  &__cellValue {
    width: 40px;
    height: 40px;
    cursor: pointer;
    user-select: none;
    transition: background .2s ease;
    font-family: Tahoma, sans-serif;

    &--open {
      opacity: 1;
      background: #d5d5d5;
      box-shadow: inset 0 1px 0 0 #c9c9c9, inset 1px 0 0 0 #c9c9c9, inset 0 -1px 0 0 #c9c9c9, inset -1px 0 0 0 #c9c9c9;
    }

    &--close {
      opacity: 0;
    }
  }

  &__cellValueCell {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &__gameOver {
    width: 406px;
    height: 406px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 5ms;
  }

  &__gameOverImg {
    width: 100%;
    height: 100%;
  }
}
</style>
